<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.email %>,</h1>
    <p>
      You are a ballerina.
    </p>
    <p>
      &nbsp;
    </p>
    <p>
      Here is a link that will one day be to a form for you to fill out: <%= @url %>.
    </p>
    <p>Cats!</p>
  </body>
</html>