<div id='createModal' style='display: none' class="modal hide fade">
  <div class="modal-header">
    <h3>Create New User</h3>
  </div>
  <div class="modal-body">
    <p>Successful Create Account Modal.</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-block btn-inverse" type="submit">Login</button>
  </div>
</div>

