<div class="container-fluid container-fluid-3">
      <div class="container">
        <div class="row-fluid">
          <span class="span12">
            <h1 class="heading">Doctor.
              <br>Do little.</h1>
            <p>One form for all of your medical records.</p>
            <button class="btn btn-primary btn-large">Try it now&nbsp;→</button>
          </span>
        </div>
      </div>
    </div>
    <div class="container container-1">
      <div class="row-fluid">
        <span class="span4">
          <h2 class="heading">Benefit One</h2>
          <p>Product benefit number one.&nbsp;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla scelerisque lacinia elit, at gravida.</p>
        </span>
        <span class="span4">
          <h2 class="heading">Benefit Two</h2>
          <p>Product benefit number two.&nbsp;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla scelerisque lacinia elit, at gravida.</p>
        </span>
        <span class="span4">
          <h2 class="heading">Benefit Three</h2>
          <p>Product benefit number one.&nbsp;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla scelerisque lacinia elit, at gravida.</p>
        </span>
      </div>
    </div>
    <div class="container-fluid container-fluid-1 container-fluid-2 container-fluid-4">
      <div class="container">
        <div class="row-fluid">
          <span class="span7">
            <div class="page-header">
              <h1>Feature Number One <small>It's awesome</small>
              </h1>
            </div>
            <p>Vivamus dapibus iaculis interdum. Aliquam tempor nisl sit amet sapien lobortis ac pulvinar sapien cursus. Nullam sed convallis tortor. Phasellus facilisis, ligula vel faucibus tempus,</p>
          </span>
          <span class="span5">
            <img src="images/400.jpeg" class="image">
          </span>
        </div>
      </div>
    </div>
    <div class="container-fluid container-fluid-2 container-fluid-5">
      <div class="container">
        <div class="row-fluid">
          <span class="span5">
            <img src="images/400.jpeg" class="image">
          </span>
          <span class="span7">
            <div class="page-header">
              <h1>Feature Number Two <small>This one is nice too</small>
              </h1>
            </div>
            <p>Vivamus dapibus iaculis interdum. Aliquam tempor nisl sit amet sapien lobortis ac pulvinar sapien cursus. Nullam sed convallis tortor. Phasellus facilisis, ligula vel faucibus tempus,</p>
          </span>
        </div>
      </div>
    </div>
    <div class="container-fluid container-fluid-1 container-fluid-2">
      <div class="container">
        <div class="row-fluid">
          <span class="span7">
            <div class="page-header">
              <h1>Feature Number Three <small>So good, you'll explode</small>
              </h1>
            </div>
            <p>Vivamus dapibus iaculis interdum. Aliquam tempor nisl sit amet sapien lobortis ac pulvinar sapien cursus. Nullam sed convallis tortor. Phasellus facilisis, ligula vel faucibus tempus,</p>
          </span>
          <span class="span5">
            <img src="images/400.jpeg" class="image">
          </span>
        </div>
      </div>
    </div>
    <div class="container container-2">
      <div class="row-fluid">
        <span class="span12">
          <p>Our philosophy here.&nbsp;Curabitur vel consequat tortor. Aliquam. Erat. Volutpat.</p>
        </span>
      </div>
    </div>
    <div class="container-fluid container-fluid-6">
      <div class="container">
        <div class="row-fluid">
          <span class="span12">
            <div class="pull-left">
              <p>© AwesomeCo</p>
            </div>
            <ul class="nav nav-pills pull-right">
              <li>
                <a href="#">About</a>
              </li>
              <li>
                <a href="#">Privacy</a>
              </li>
              <li>
                <a href="#">Terms Of Service</a>
              </li>
            </ul>
          </span>
        </div>
      </div>
    </div>
