<div class='form_block'>
  <div class="navbar form_subnav">
    <div class="navbar-inner">
      <ul class="nav">
        <li class="active"><a href="#">Section 1</a></li>
        <li><a href="#"></a></li>
        <li><a href="#">Section 2</a></li>
      </ul>
    </div>
  </div>

  <%= render partial: "form", locals: { form_answer: @form_answer, field: @fields } %>
</div>
