<div class="hero-unit">
  <h1>Doctor.</br>Do little.</h1>
  <p>One form to rule them all.</p>
  <p>
    <!-- <a class="btn btn-primary btn-large">
      Try it now -->
    <!-- </a> -->
  </p>
</div>

<div class="row-fluid pagination-centered"> 
<div class='span4'><h2>Save Time</h2><p>Patients: Fill out one medical form. Submit it to multiple care providers. Common fields are filled automatically.</p></div>

<div class='span4'><h2>Save Money</h2><p>Care Providers: Send out all your required paperwork to patients. Have it returned and complete before they set foot in the waiting room.</p></div>
<div class='span4'><h2>Live Better</h2><p>Remove the barriers between patients and care providers. Click "Sign up" to get started now.</p></div>
</div>
