
<!-- 
<div class="gridster">
	<form>
    <ul>
        <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">Name: <input type='text' name='email' size='50'></li>

        <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">Address: <input type='text' name='email' size='100'></li> -->
       <!--  <li data-row="2" data-col="1" data-sizex="1" data-sizey="1"></li>
        <li data-row="3" data-col="1" data-sizex="1" data-sizey="1"></li>
 
        <li data-row="1" data-col="2" data-sizex="2" data-sizey="1"></li>
        <li data-row="2" data-col="2" data-sizex="2" data-sizey="2"></li>
 
        <li data-row="1" data-col="4" data-sizex="1" data-sizey="1"></li>
        <li data-row="2" data-col="4" data-sizex="2" data-sizey="1"></li>
        <li data-row="3" data-col="4" data-sizex="1" data-sizey="1"></li>
 
        <li data-row="1" data-col="5" data-sizex="1" data-sizey="1"></li>
        <li data-row="3" data-col="5" data-sizex="1" data-sizey="1"></li>
 
        <li data-row="1" data-col="6" data-sizex="1" data-sizey="1"></li>
        <li data-row="2" data-col="6" data-sizex="1" data-sizey="2"></li> -->
<!--     </ul>
  </form>
</div>
 -->
<!-- <form class="gridster">
  Email: <input type="text" name="email" size="35"><br>
  PIN: <input type="text" name="pin" maxlength="4" size="4"><br>
  <input type="submit" value="Submit">
</form> -->

<div id='containter-left'>

</div>

<div id='containter-right'>
  <div class='field name'></div>
  <div class='field address'></div>
  <div class='field name'></div>
  <div class='field block'></div>
  <div class='field block'></div>
  <div class='field name'></div>
</div>

