<div class='form_block well'>
  <div class='form_field_catcher'>
  </div>
</div>
  
<div class='form_block selectables'>
  <% if @form_elements %>
    <% @form_elements.each do |element| %>
        <div class='field_type'><%= label_tag element.label, nil, class: element.size %><br>
          <%= text_field_tag nil, nil, placeholder: element.label.gsub('_',' ').capitalize, class: element.size %>
          <%= hidden_field_tag 'fields[][element_id]', element.id %>
          <%= hidden_field_tag 'fields[][name', element.label %>
        </div>
    <% end %>
  <% end %>
</div>



