<div class ='complete_form'>
  <%= @forms.fields.each do |field|

  <div class="navbar">
    <div class="navbar-inner">
      <ul class="nav">
        <%= sections.each do %>
        <li class="active"><a href="#"><%= section.name %></a></li>
        <li><a href="#"></a></li>
        <li><a href="#">Section 2</a></li>
        <% end >
      </ul>
    </div>
  </div>
  <% end %>
<div>
