
   <!--  <div class="navbar navbar-1">
      <div class="navbar-inner">
        <a class="brand" href="#">doolittle</a>
        <ul class="nav pull-right">
          <li>
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#">Dashboard</a>
          </li>
          <li>
            <a href="#">Logout</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="navbar navbar-2">
      <div class="navbar-inner">
        <ul class="nav">
          <li class="active">
            <a href="#">Contact</a>
          </li>
          <li>
            <a href="#">Insurance</a>
          </li>
          <li>
            <a href="#">Dental History</a>
          </li>
          <li>
            <a href="#">Medical History</a>
          </li>
          <li>
            <a href="#">Emergency Contact</a>
          </li>
        </ul>
      </div>
    </div> -->

    <div class='form_block'>
      <button id='form_submit' class="btn btn-primary btn-large">Submit Form →</button>
      <h3 class="heading">Patient Information</h3>
      <div class="well">
        
        
      </div>
    
  </div>


   <div class='form_block selectables'>
  

    <label class="radio">
      <input type="radio" value="" name="">
      <span>Radio button</span>
    </label>

        <div class='input'><input class="field span4" type="text" name="" value="Name" placeholder="Placeholder"></div>
        <input class="field span4" type="text" name="" value="SSN #" placeholder="Placeholder">
        <input class="field span1" type="text" name="" value="Age" placeholder="Placeholder">
        <input class="field span1" type="text" name="" value="Sex" placeholder="Placeholder">
        <input class="field span6" type="text" name="" value="Home Address" placeholder="Placeholder">
        <input class="field span3" type="text" name="" value="City" placeholder="Placeholder">
        <input class="field span1" type="text" name="" value="State" placeholder="Placeholder">
        <input class="field span1" type="text" name="" value="Zip" placeholder="Placeholder">
        <input class="field spand5" type="text" name="" value="Phone" placeholder="Placeholder">
        <input class="field spand5" type="text" name="" value="Alternate Phone" placeholder="Placeholder">
        <input class="field span3" type="text" name="" value="Email" placeholder="Placeholder">
        <input class="field span3" type="text" name="" value="DL #" placeholder="Placeholder">
        <input class="field span8" type="text" name="" value="How did you hear about us?" placeholder="Placeholder">
 
    <input class="textinput textinput-7" type="text" name="" value="Name" placeholder="Placeholder" disabled>
    <textarea name="" placeholder="Placeholder">Comments</textarea>
    <input class="textinput textinput-14" type="text" name="" value="Add Text Box" placeholder="Placeholder">
    <label class="checkbox">
      <input type="checkbox" value="" name="">
      <span>&nbsp;Check Box</span>
    </label>
     <input class="textinput textinput-13" type="text" name="" value="How did you hear about us?" placeholder="Placeholder">
   </div>


<!-- <div id='containter-left'>

</div>

<div id='containter-right'>
<div class='field name'></div>
<div class='field address'></div>
<div class='field name'></div>
<div class='field block'></div>
<div class='field block'></div>
<div class='field name'></div>
</div>

<button id='drag_it'>Change State</button> -->
