.selectables {
  margin-top: 50px;
  border: 1px solid #e3e3e3;
  padding: 19px;

}
.form_field_catcher {
  margin: 0;
  min-height: 300px !important;
}

.form_block {
  margin-right: auto;
  margin-left: auto;
  width: 80%;
}

#create_form_submit {
  position: relative !important;
  left: 50px !important;
  top: -116px !important;
}
#new_form_submit {
  position: relative !important;
  left: 10% !important;
}
#form_submit {
  float: right;
}

.field {
  margin: 4px 7px !important;
}

.field_type {
  display: inline-block;
}

label {
  margin: 0 !important;
  margin-left: 2px !important;
  display: inline !important;
}

input {
  display: inline !important;
}


.added {
  padding: 2px !important;
  position: static;
  display: inline-block;
  top: -80px !important;
}

.row_cont {
  height: 60px;
  width: 100%;
}

.block {
  height: 20px;
  min-width: 50px;
  border: 1px solid #e3e3e3;
}

.title_tag {
  position: relative;
  top: -80px !important;
}





