.selectables {
  margin-top: 50px;
  border: 1px solid #e3e3e3;
  padding: 19px;
}
.well {
  min-height: 300px;
  margin-top: 10%;
}

.form_block {
  margin-right: auto;
  margin-left: auto;
  width: 90%;
}

#form_submit {
  float: right;
}

.field {
  /*margin: 7px !important;*/
  margin: 4px 7px !important;
}

#submit {
  float: right;
}

.field_type {
  display: inline-block;
}

label {
  margin: 0 !important;
  margin-left: 2px !important;
  display: inline !important;
}

input {
  display: inline !important;
}

.column { height: 30px; float: left; padding-bottom: 100px; }
.ui-sortable-placeholder { border: 1px dotted black; visibility: visible !important; height: 50px !important; }
  .ui-sortable-placeholder * { visibility: hidden; }

/*.added {
  margin: 1px !important;
}*/

/*.name {
  width: 220px;
  height: 20px;
  background-color: blue;
}

.address {
  width: 420px;
  height: 20px;
  background-color: yellow;
}

.age {
  width: 100px;
  height: 20px;
  background-color: red;
}

.block {
  width: 120px;
  height: 20px;
  background-color: orange;
}*/

/*.input {
    padding: 2px;
    background-color: blue;
    display: inline-block;
  position: relative;
}*/


.block {
  height: 20px;
  min-width: 50px;
  border: 1px solid #e3e3e3;
}





