

.notifications {
  padding: 2%;
  border-radius: 10px;
  width: 41%;
  height: 400px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  margin: 2%;
  overflow: auto;
  display: inline-block;
}

.user_info {
  padding: 2%;
  border-radius: 10px;
  width: 41%;
  height: 400px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  margin: 2%;
  overflow: auto;
  display: inline-block;
}

.top_level {
}

.user_info .show_field {
  padding: 10px;
}


.user_forms {
  width: 41%;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  margin: 2%;
  border-radius: 10px;
  padding: 2%;
}

.hr_line {
  border-top: 1px solid #505050;
}

.list_forms {
  width: 90%;
  background-color: #CDB79E;
  border: 1px solid #e3e3e3;
  margin: 10px;
  border-radius: 10px;
  padding: 10px 19px;
}

.list_forms h6 {
  display: inline;
}
.list_forms a {
  float: right;
  display: inline;
  margin-right: 10px;
}

.delete_link {
  color: #680000;
}

.send_link {
  color: #006600;
}

.email_notify {
  color: #3300FF;
}

.form_title {
  color: #009900;
}