.brand {
   font-family: "Lobster";
   font-size: 99px;

}

.hero-unit {
   background-image:url('http://www.nlm.nih.gov/hmd/happening/acquisitions/images/Hecht_Braunwald.jpg');
   background-position: -30px -450px; 
   color: #F2E0C7;
}

.hero-unit p {
 color: #FFFFFF;
}

.btn-primary {
 background-image: url("");
 background-color: #A5967D;
}

.btn-primary:hover {
   background-image: url("");
   background-color: #595144;
}
.navbar-inner {
   margin-bottom: 0;
   background-color: #25231F;
}

.row-fluid {
   padding: 0px;
}

.modal-h2 {
   text-align: center;
}

.j3container {
   width: 75%;
   margin: 0px auto;
}