.brand {
   font-family: "Lobster";
   font-size: 99px;
}


.hero-unit {
   color: #F2E0C7;
}

.hero-unit h1 { 
  text-shadow: 2px 2px 2px #000;
}

.hero-unit p {
 color: #FFFFFF;
 text-shadow: 2px 2px 2px #000;
}

.modal-footer {
  padding: 0px  !important;
  margin-top: 40px !important;
}

.btn-primary {
 background-image: url("");
 background-color: #A5967D;
}

.btn-primary:hover {
   background-image: url("");
   background-color: #595144;
}
.navbar-inner {
   margin-bottom: 0;
   background-color: #25231F;
}

.row-fluid {
   padding: 0px;
}

.modal-h2 {
   text-align: center;
}

.j3container {
   width: 75%;
   margin: 0px auto;
}

#Sign_up {
  width: 252px !important;
  line-height: 0 !important;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  left: 27px;
  top: -321px;
}

#Sign_up button {
  width: 220px !important;
}

#Sign_in {
  width: 252px !important;
  line-height: 0 !important;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  left: 27px;
  top: -321px;
}

#Sign_in button {
  width: 220px !important;
}
